body{
    font-family: 'Rubik Glitch', cursive;
    background-color:darkgoldenrod;
}
.header_div{
    background-color: white;
    color: crimson;
}
.header_div p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
}
main_div button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 50px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer{
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: white;
    line-height: 3;
    text-align:center;
    text-shadow: 5px 5px 5px grey;
}